// Import Custom Variables
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

// Import Custom SCSS
@import "global.scss";

// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";
@import "navigation/sidenav/sidenav-light.scss";

.required::after {
    content: " *";
    color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropbtn {
    color: #000;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
}

.dropdown_btn {
    position: relative;
    display: inline-block;
    left: -10px;
    top: -4px;
}

.dropdown_btn .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    left: 0;
    margin-top: -10px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.p15 {
    padding: 15px !important;
}

.switch {
    display: inline-block;
    height: 18px;
    position: relative;
    width: 30px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0;
}

.switch input {
    display: none;
}

.w-x-2 {
    width: 200% !important;
}

.event-body {
    overflow: scroll;
}

.form-group.required .control-label:before {
    content: "*";
    color: red;
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 12px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 12px;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #66bb6a;
}

.switch input:checked+.slider:before {
    transform: translateX(10px);
}

.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 99;
}