::ng-deep {
    ngx-daterangepicker-material {
        & {
            .md-drppicker {
                display: flex;

                .ranges {
                    white-space: nowrap;
                }

                .buttons {
                    display: flex;
                    align-items: end;
                }
            }
        }
    }
}

::ng-deep .modal-dialog {
    width: 100%;
}