<sb-layout-dashboard>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label>Ngày tạo</label>
            <input class="form-control" type="text" ngxDaterangepickerMd [ranges]="ranges" [showCustomRangeLabel]="true"
                [alwaysShowCalendars]="true" opens="right" [locale]="{applyLabel: 'Apply', format: 'DD/MM/YYYY'}"
                [maxDate]="maxDate" placeholder="Chọn ngày">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label class="form-label required">ID</label>
            <input class="form-control" placeholder="ID">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label class="form-label required">Tên</label>
            <input class="form-control" placeholder="ID">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="openModal(modal)">Tạo mới</button>
        </div>
    </div>
    <div class="table-responsive pt-3" style="padding-bottom: 100px">
        <table class="table table-row-dashed table-row-gray-300 gs-0 gy-4 align-middle">
            <thead>
                <tr class="fw-bolder">
                    <th class="text-nowrap">STT</th>
                    <th class="text-nowrap">Tên danh mục</th>
                    <th class="text-nowrap">Mô tả</th>
                    <th class="text-nowrap">Ngày tạo</th>
                    <th class="text-nowrap text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div>
        <p class="float-left">Total: {{ collectionSize }}</p>
        <ngb-pagination class="float-right" [collectionSize]="paging.total" [(page)]="paging.page"
            [pageSize]="paging.page_size" (pageChange)="changePage()" [rotate]="true" [boundaryLinks]="true"
            [maxSize]="5"></ngb-pagination>
    </div>
</sb-layout-dashboard>

<ng-template #modal let-modal>
    <div class="modal-header pb-0 align-items-center" style="border: none;">
        <h4 class="fs--18">Create category</h4>
    </div>
    <div class="modal-body pt-0">
        <form class="form-horizontal m-t-30">
            <div class="form-group required">
                <label class="control-label">Category name</label>
                <input type="text" class="form-control" placeholder="Select category name" formControlName="title" (change)="onChange($event)"/>
                <!-- <div class="invalid-feedback" *ngIf="fails && fails['title']">
                    {{ fails['title'][0] }}
                </div> -->
            </div>
            <div class="form-group required">
                <label class="control-label">Image</label>
                <div class="input-group">
                    <div>
                        <img src="{{ base64Image || '../../../../assets/img/no-image.png' }}" width="100" height="100"/>
                    </div>
                    <div class="custom-file">
                        <input type="file" placeholder="Choose file" (click)="onInputClick($event)" (change)="onFileChanged($event, '')" class="custom-file-input" accept="image/*">
                        <input type="hidden" formControlName="avatar">
                        <label class="custom-file-label">{{ base64Image }}</label>
                    </div>
                </div>
                <!-- <div class="invalid-feedback" *ngIf="fails && fails['avatar'] && !avatarName">
                    {{ fails['avatar'][0] }}
                </div> -->
            </div>
            <div class="form-group" style="display: flex; flex-direction: row;">
                <label class="control-label" style="margin-right: 10px;">Status</label>
                <div class="form-check-label">
                    <label class="switch">
                        <input type="checkbox" [checked]="false"/>
                        <div class="slider"></div>
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-2 gap-3">
                <button type="button" class="btn btn-success">Create</button>
                <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>