<sb-layout-dashboard>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label>Ngày tạo</label>
            <input class="form-control" type="text" ngxDaterangepickerMd [ranges]="ranges" [showCustomRangeLabel]="true"
                [alwaysShowCalendars]="true" opens="right" [locale]="{applyLabel: 'Apply', format: 'DD/MM/YYYY'}"
                [maxDate]="maxDate" placeholder="Chọn ngày">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label class="form-label required">ID</label>
            <input class="form-control" placeholder="ID">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label class="form-label required">Tên</label>
            <input class="form-control" placeholder="ID">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="openModal(modal)">Tạo mới</button>
        </div>
    </div>
    <div class="table-responsive pt-3" style="padding-bottom: 100px">
        <table class="table table-row-dashed table-row-gray-300 gs-0 gy-4 align-middle">
            <thead>
                <tr class="fw-bolder">
                    <th class="text-nowrap">STT</th>
                    <th class="text-nowrap">Tên danh mục</th>
                    <th class="text-nowrap">Mô tả</th>
                    <th class="text-nowrap">Ngày tạo</th>
                    <th class="text-nowrap text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div>
        <p class="float-left">Total: {{ collectionSize }}</p>
        <ngb-pagination class="float-right" [collectionSize]="paging.total" [(page)]="paging.page"
            [pageSize]="paging.page_size" (pageChange)="changePage()" [rotate]="true" [boundaryLinks]="true"
            [maxSize]="5"></ngb-pagination>
    </div>
</sb-layout-dashboard>

<ng-template #modal let-modal>
    <span>modal!</span>
</ng-template>

<ngx-loading [show]="loading"></ngx-loading>