::ng-deep {
    ngx-daterangepicker-material {
        & {
            .md-drppicker {
                display: flex;

                .ranges {
                    white-space: nowrap;
                }

                .buttons {
                    display: flex;
                    align-items: end;
                }
            }
        }
    }
}

::ng-deep .modal-dialog {
    width: 100%;
}

textarea {
    resize: none;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

::ng-deep .modal-content {
    padding: 20px;
}